@import './base.css';


body{
  /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
  /*background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);*/
  /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);*/
}
